* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    margin: 0 auto;
    width: 80%;
}

header {
    background: url(../img/bg.png) no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 200px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.t-center {
    text-align: center;
}

h1 {
    font-size: 52px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    margin-top: 100px;
    margin-bottom: 35px;
}

input {
    border: none;
}

input[type="text"] {
    width: 320px;
    height: 30px;
    padding-left: 10px;
    margin-right: -4px;
}

input::placeholder {
    font-size: 16px;
    letter-spacing: 1px;
    color: #8b8b8b;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

input[type=button] {
    width: 120px;
    height: 30px;
    background-color: #fd4f31;
    color: white;
    font-family: "Open Sans", sans-serif;
}

section {
    background-color: #eeeeee;
}


.block h4 {
    font-size: 22px;
    font-family: 'Montserrat';
    font-weight: 400;
    padding-top: 55px;
    padding-bottom: 13px;
}

.block h5 {
    font-size: 19px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: gray;
    padding-bottom: 40px;
}

.box1 {
    width: 24%;
    display: inline-block;
    background-color: #fff;
    margin-bottom: 70px;
}

.box1:hover {
    border: 1.5px solid black;
    background-color: #0879171a;
    box-shadow: 1px 1px 5px #087917;

}

.box1 img {
    width: 100%;
    height: 190px;

}

.box1 h6 {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
    padding: 20px 20px 0 20px;
}

.box1 p {
    font-size: 15px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    color: gray;
    padding: 14px 20px 20px 20px;

}

.flex-container2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

h2 {
    font-size: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    padding: 70px 0 55px 0;
}



.box2 {
    width: 250px;
    padding-bottom: 70px;
}

.box2 h3 {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
}

.box2 p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: gray;
    padding-top: 15px;
}

.box3 {
    text-align: center;
    padding-bottom: 70px;
}

.box3 h4 {
    font-weight: 400;
    font-family: 'Montserrat';
    font-size: 16px;
    color: black;
    padding-bottom: 30px;
}

.box3 input {
    border: none;

}

.box3 input[type="text"] {
    width: 320px;
    height: 30px;
    padding-left: 10px;
    margin-right: -4px;
    background-color: #eeeeee;
}

.box3 input::placeholder {
    font-size: 16px;
    letter-spacing: 1px;
    color: #8b8b8b;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    height: 40px;
}

.box3 input[type=button] {
    width: 120px;
    height: 30px;
    background-color: #fd4f31;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.box3 input[type=button]:hover {
    color: black;
}

footer {
    background-color: #eeeeee;
}

.flex-container3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box4 p {
    font-family: "Open Sans", sans-serif;
    padding: 30px 0 30px 0;
    color: gray;
    font-size: 12px;
}

.box5 ul {
    list-style-type: none;
    padding: 30px 0 30px 0;
}

.box5 li {
    display: inline-block;
    padding: 0 7px;
}

.box5 a {
    text-decoration: none;
    color: gray;
    font-family: 'Montserrat';
    font-weight: 600;
}

.box5 a:hover {
    color: black;
    text-decoration: underline;
}

/* @media /////////////////////////////////////////////*/
@media (max-width:1200px) {
    .box1 img {
        height: 130px;
    }

    .box1 h6 {
        font-size: 12px;
    }

    .box1 p {
        font-size: 11px;
    }
}

@media (max-width:990px) {
    .box4 p {
        font-size: 10px;
    }

    .box5 a {
        font-size: 15px;
    }
}

@media (max-width:950px) {
    .box1 img {
        height: 100px;
    }

    .box1 h6 {
        font-size: 10px;
    }

    .box1 p {
        font-size: 9px;
    }

    .flex-container2 {
        justify-content: center;
    }

    .box2 {
        width: 230px;
        margin: 0 20px;
    }

    .box2 h3 {
        font-size: 13px;
    }

    .box2 p {
        font-size: 12px;
    }

    .box4 p {
        font-size: 9px;
    }

    .box5 a {
        font-size: 13px;
    }
}

@media (max-width:830px) {
    .box1 h6 {
        font-size: 9px;
    }

    .box1 p {
        font-size: 8px;
    }

    .box5 a {
        font-size: 12px;
    }

    h2 {
        font-size: 45px;
    }

}

@media (max-width:750px) {
    h1 {
        font-size: 35px;
    }

    .box1 {
        display: block;
        width: 250px;
        margin: 10px auto;
    }

    .box4 p {
        font-size: 8px;
    }

    .box5 a {
        font-size: 11px;
    }
}

@media (max-width:700px) {
    .flex-container3 {
        justify-content: center;
    }

    .box5 ul {
        padding: 10px 0 10px 0;
    }

    .box4 p {
        padding: 10px 0 10px 0;
    }

    h2 {
        font-size: 40px;
    }
}

@media (max-width:550px) {
    input[type="text"] {
        width: 100%;
    }

    input[type=button] {
        margin-top: 10px;
    }

    header {
        padding-bottom: 50px;
    }

    h1 {
        margin-top: 50px;
    }

    .box3 input[type="text"] {
        width: 100%;
    }

    .box3 input[type=button] {
        margin-top: 10px;
    }

    .box4 p {
        font-size: 6px;
    }

    .box5 a {
        font-size: 10px;
    }

    .box5 li {
        padding: 0 3px;
    }

    h2 {
        font-size: 35px;
    }
}